[Unit]
Description=GoAPI Server: %i
After=network.target
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/opt/ubuntu/api

User=ubuntu
Group=ubuntu

Restart=always

ExecStartPre=-/usr/bin/docker stop go_api_svc1
ExecStartPre=-/usr/bin/docker rm go_api_svc1
ExecStart=/usr/bin/docker run \
                --name go_api_svc1 \
                --workdir /go/src \
                -v /opt/ubuntu/api/go/src:/go/src \
                -v /opt/ubuntu/api/go/bin:/go/bin \
                --env-file /etc/goapi/environment.conf \
                -p 3150:1323 \
                -d golang:1.16.2-buster go run .
EnvironmentFile=/etc/environment
ExecStop=/usr/bin/screen -p 0 -S mc-%i -X eval 'stuff "say SERVER SHUTTING DOWN IN 5 SECONDS. SAVING ALL MAPS..."\015'
ExecStop=/usr/bin/screen -p 0 -S mc-%i -X eval 'stuff "save-all"\015'
ExecStop=/usr/bin/screen -p 0 -S mc-%i -X eval 'stuff "stop"\015'


[Install]
WantedBy=multi-user.target
