[Unit]
Description=Minecraft Server: %i
After=network.target

[Service]
WorkingDirectory=/opt/ubuntu/willmc

User=ubuntu
Group=ubuntu

Restart=always

ExecStart=/usr/bin/screen -DmS mc-%i /usr/bin/java -Xmx2G -jar mc_16_4_server.jar nogui

ExecStop=/usr/bin/screen -p 0 -S mc-%i -X eval 'stuff "say SERVER SHUTTING DOWN IN 5 SECONDS. SAVING ALL MAPS..."\015'
ExecStop=/usr/bin/screen -p 0 -S mc-%i -X eval 'stuff "save-all"\015'
ExecStop=/usr/bin/screen -p 0 -S mc-%i -X eval 'stuff "stop"\015'
ExecStop=/bin/bash /opt/ubuntu/willmc/shutdown.sh

[Install]
WantedBy=multi-user.target
